/*Color Palette*/
/*#1F253D -- dark gray w/purplish overtone*/
/*#394264 -- light gray with purplish overtone*/
/*#11A8AB -- teal*/
/*#E64C65 -- pink*/
/*#927FBF -- purple*/
/*#ffffff -- white*/

body {
  font-family: 'Syncopate', 'Helvetica', 'Arial', sans-serif;
}

h1 {
  font-family: 'Fredoka One', 'Helvetica', 'Arial', sans-serif;
  color: #E64C65 !important;
}

/*.fullHeight {
  height: 100vh;
}*/

.underline {
  border-bottom: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
}

.btn-primary, #begin {
  background-color: #11A8AB;
  border: 1px solid #11A8AB;
  transition: all 1s linear;
}

.btn-success, .btn-success:hover {
  background-color: #927FBF;
  border: 1px solid #927FBF;
  margin: 4px;
}

.addButton {
  transition: all 1s linear;
}

input {
  width: 70% !important;
  margin-right: 2% !important;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fullHeight {
  from {height: 30vh;}
  to {height: 100vh;}
}

.brand {
  width: 66%;
  text-align: center;
  margin: 5% 15%;
  transition: all 1s linear;
  background-color: #1F253D;
}

.gifArea {
  height: 100vh;
  background-color: #394264;
}

.gif {
  margin: 4px;
  height: 100px;
  width: 100px;
  transition: all .5s linear;
}

.gif:hover {
  height: 400px;
  width: 400px;
  transition: all .5s linear;
}
